# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log

# Terraform plan files
*.tfplan
tfplan

# Sensitive files
terraform-generated-key.pem

# Environment files
*.tfvars
#.terraform.lock.hcl

# CI uses a non-secret, committed variable file
!environments/dev/ci.tfvars